@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', Arial, sans-serif;
    background-color: #f8f9fa;
    margin-top: 56px; /* 네비게이션 바 높이 보정 */
}

.bordered {
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-bottom: 20px;
}

.title {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

.section-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.main-content {
    margin-top: 20px;
    padding-top: 20px;
}

.form-control, .btn {
    height: 100%;
}

.form-group {
    margin-bottom: 0;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* 게시물 사이의 간격 */
}

.card-body h5 {
    font-size: 1.25rem; /* 폰트 크기 조정 */
    margin: 0 0 10px 0;
}

.card-body a {
    color: #007bff;
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

.card p {
    font-size: 1rem; /* 폰트 크기 조정 */
    color: #6c757d;
    margin: 0;
}

.weather-section {
    margin-bottom: 20px;
}

.popular-content-section {
    margin-top: 20px;
}

.list-group-item {
    font-size: 1rem; /* 폰트 크기 조정 */
}

.navbar-nav .nav-link {
    font-size: 1rem; /* 네비게이션 폰트 크기 */
}

.form-control {
    font-size: 1rem; /* 검색 폼 폰트 크기 */
}

.btn-primary {
    font-size: 1rem; /* 버튼 폰트 크기 */
}

/* 입력창 높이 조정 */
#search, #page, #page2 {
    height: calc(2.75rem + 2px); /* 입력창 높이 증가 */
}
