<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뉴스 검색기</title>
    <!-- Google Fonts 폰트 링크 추가 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- 제목 폰트인 'Black Han Sans' -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <!-- 본문 폰트인 'Noto Sans KR' -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS 링크 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS 스타일링 */
        body {
            font-family: 'Noto Sans KR', sans-serif;
            background-color: #f2f2f2;
            /* 더 회색조의 배경색 */
        }

        .bordered {
            border: 1px solid #dee2e6;
            padding: 15px;
            margin-bottom: 20px;
        }

        .title {
            font-family: 'Black Han Sans', sans-serif;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
            padding-top: 20px;
        }

        .section-title {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">SIMPLES</h1>
        </div>
    </div>
    <div class="container" style="position: absolute; top: 10px; right: 10px;">
        {% if is_logged_in %}
        <a href="{{ url_for('mypage') }}" class="btn btn-info">마이페이지</a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">로그아웃</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="btn btn-primary">로그인</a>
        <a href="{{ url_for('register') }}" class="btn btn-secondary">회원가입</a>
        {% endif %}
    </div>

    <div class="row">
        <!-- 첫 번째 그리드 -->
        <div class="col-md-6 bordered">
            <h3 class="section-title">트렌드 키워드</h3>
            <ul>
                {% for keyword in keywords %}
                <li style="list-style: none;">{{ loop.index }}. {{ keyword['keyword'] }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 두 번째 그리드 -->
        <div class="col-md-6 bordered">
            <h3 class="section-title">뉴스 검색기</h3>
            <div class="form-container">
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="search">검색어:</label>
                        <input type="text" id="search" name="search" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="page">시작 페이지:</label>
                        <input type="number" id="page" name="page" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="page2">끝 페이지:</label>
                        <input type="number" id="page2" name="page2" class="form-control" required>
                    </div>
                    <div style=" text-align: center;">
                        <button type="submit" class="btn btn-primary">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 빈 그리드 -->
    <div class="row">
        <div class="col-md-6 bordered">
            <!-- 빈 그리드 -->
        </div>
        <!-- 네 번째 그리드 -->
        <div class="col-md-6 bordered">
            <!-- 여기에 게시판의 내용이 표시됩니다 -->
            <div class="container">
                <!-- 보드 페이지로 이동하는 버튼 -->
                <div style="position: absolute; top: 10px; left: 10px;">
                    <a href="{{ url_for('board') }}" class="btn btn-info">게시판</a>
                </div>
            </div>
            <div style="margin-top: 60px;">
                {% if is_logged_in %}
                <a href="{{ url_for('new_post') }}">새 글 쓰기</a>
                {% else %}
                <a href="{{ url_for('login') }}">로그인</a>
                {% endif %}
            </div>
            <hr>

            <h2>게시물</h2>

            {% for post in posts %}
            <div class="post">
                <h3 style="border-bottom: 1px solid #0c62ed;"><a href="{{ url_for('view_post', post_id=post.id) }}">TITLE: {{ post.title }}</a></h3>
                <p>Author: {{ post.user_email }}</p>
                <p>Created at: {{ post.created_at }}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS 및 jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
